.study-model__expansion-panel-wrapper {
  margin-top: 30px;
}

.snack-bar__error {
  div {
    background-color: red !important;
  }

  .snack-bar__content {
    display: flex;
    align-items: center;

    svg {
      margin-right: 20px;
    }
  }
}
