.create-study__wrapper {
  width: 350px;
  margin: auto;

  .create-study__btn-create-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    button {
      display: flex;
    }
  }
}

.client-contact__dropdown-list {
  max-height: 170px;
  width: 300px;
  overflow-y: scroll;
}
