.container {
  max-width: 1280px;
  margin: auto;
  padding: 20px;

  h1 {
    font-weight: normal;
    color: $blue;
    margin: 0;
    padding: 1em 0 1em 0;
  }
}

.container-login {
  padding: inherit;
}

.study-row {
  cursor: pointer;
}

.paper-root {
  padding: 1px 24px 24px;
  &-fullwidth {
    margin: 0 -24px;
  }
}
