.brick-selector__wrapper-create {
  min-height: 413px;
}

.brick-selector__wrapper-modify {
  //min-height: fit-content;
}

.radio-label-wrapper {
  margin-left: 10px;
  margin-bottom: 10px;
}

.brick-border {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  padding-bottom: 30px;
}
